:root {
  --primary-color: #8444df;
  --hover: #c3a7eb;
  --background: #f7f7f7;
  --text-color: #5f6f81;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  margin-top: 100px;
  margin: 0 auto;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

.logo {
  max-height: 150px;
  list-style: none;
}


footer {
  background: #ece3f9;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

footer .social-media-links {
  margin: 20px auto 15px;
  font-size: 40px;
}

footer .social-media-links a:hover {
  color: var(--hover);
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
  font-weight: bolder;
}

footer a:hover {
  color: var(--hover);
}

span {
  color: var(--primary-color);
  font-weight: bold;
}
.work-heading {
  background-color: #ece3f9;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
  font-family: "Spectral", serif;
}

.card a {
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

a:hover {
  color: var(--hover);
  text-decoration: none;
  font-weight: none;
}

i {
  color: var(--hover);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 15%;
  height: 90%;
  box-shadow: var(--box-shadow);
}

.header-icons {
  display: flex;
  justify-content: center;
  gap: 10%;
  font-size: 150%;
}

p {
  font-size: 20px;
}

.contact-button{
  color: white;
  background: var(--primary-color);
  border: white;
   transition: all 100ms ease-in-out;
}

.contact-button:hover{
  color:var(--primary-color);
  background-color: var(--hover);
}



@media (max-width: 960px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 35px;
    margin-top: 10%;
  }
  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 25px;
  }

  .card {
    height: 80%;
  }

  nav a {
    font-size: 17px;
  }

  nav li {
    margin-left: 10px;
    margin-right: 2.4px;
  }

  nav ul {
    margin-top: -10px;
  }

  footer .social-media-links {
    font-size: 35px;
  }
  footer p {
    font-size: 12px;
    margin-top: -15px;
  }
}
