h1{
    font-family: 'Spectral', serif;
    font-weight: bolder;
    font-size: 55px;
}

h2{
    font-family: 'Karla', sans-serif;
    font-weight: normal;
}

/*font-family: 'Karla', sans-serif;
font-family: 'Spectral', serif;