:root{
    --primary-color:#8444df;
     --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 125%;
    background: #f7f7f7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    position: relative;
    margin: 0 auto;
}



header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

header .heroImageContainer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: relative;
}


header .heroImageContainer img {
    border-radius: 50%;
    position: relative;
    margin-right: 25%;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
    box-shadow: 12px 0 #d9c8f1, 24px 0 #e2d6f3, 36px 0 #ece6f5;
}

header .heroDescription {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    width: 200%;

}

header .heroDescription .greeting {
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 1.2;
}

header .heroDescription h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin: 14px 0;
    
}

header .heroDescription h1 span {
    color: var(--primary-color);
}

header .heroDescription .smallBio {
    letter-spacing: 1px;
    color: #5F6F81;
    font-size: 1rem;
    min-width: 360px;
    line-height: 1.4;
}

header .heroDescription .smallBio span {
    color: var(--primary-color);
    font-size: 1.1rem;
}

header .navigation-links a {
  text-decoration: none;
  text-transform: capitalize;
}

header .projects-link {
    background-color: var(--primary-color);
    border: 1px solid;
    padding: 15px 35px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #f7f7f7;
    text-decoration: none;
}

header .contact-link{
    background-color: #f7f7f7;
    border: 1px solid;
    padding: 15px 35px;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color:var(--primary-color);
   
}


h1{
    font-family: 'Spectral', serif;
    font-weight: bolder;
    font-size: 55px;
}

h2, p{
    font-family: 'Karla', sans-serif;
    font-weight: normal;
}

main {
    display: block;
    margin-top: 600px;
     position: relative;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    box-sizing: border-box;
}











/*font-family: 'Karla', sans-serif;
font-family: 'Spectral', serif;