:root {
  --primary-color: #8444df;
  --hover: #c3a7eb;
  --background: #f7f7f7;
  --text-color: #5f6f81;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  margin-top: 100px;
  margin: 0 auto;
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header h1 {
  font-family: "Spectral", serif;
}

span {
  color: var(--primary-color);
  font-weight: bold;
}

.navigation-links a {
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.projects-link {
  background-color: var(--primary-color);
  border: 1px solid;
  padding: 15px 35px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #f7f7f7;
  text-decoration: none;
}

.projects-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.contact-link {
  background-color: #f7f7f7;
  border: 1px solid;
  padding: 15px 35px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: var(--primary-color);
}

.contact-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.primary-link {
  background-color: var(--primary-color);
  border: 1px solid;
  padding: 15px 35px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #f7f7f7;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.primary-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: var(--box-shadow);
}
.body-h2-title {
  font-family: "Spectral", serif;
  font-size: 40px;
}

.card-text a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.logo {
  max-height: 150px;
  list-style: none;
}
nav {
  padding: 20px, 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 152px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

footer {
  background: #ece3f9;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

footer .social-media-links {
  margin: 20px auto 15px;
  font-size: 40px;
}

footer .social-media-links a:hover {
  color: var(--hover);
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
  font-weight: bolder;
  
}

footer a:hover {
  color: var(--hover);
}

@media (max-width: 960px) {
  header {
    height: 80vh;
  }

  header h1 {
    font-size: 35px;
  }

  header img {
    width: 200px;
    margin: 0 auto;
  }
  header {
    text-align: center;
    margin-top: 20px;
  }

  header .navigation-links a {
    padding: 12px 25px;
    font-size: 13px;
  }

  .body-h2-title {
    text-align: center;
    font-size: 30px;
  }
  .card .primary-link {
    padding: 20px 28px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .card .card-title .card-text {
    text-align: center;
  }
  nav a {
    font-size: 17px;
  }

  nav li {
    margin-left: 10px;
    margin-right: 2.4px;
  }

  nav ul {
    margin-top: -10px;
  }

  footer .social-media-links{
    font-size: 35px;
  }
footer p{
  font-size: 12px;
  margin-top: -15px;
}


}
