:root {
  --primary-color: #8444df;
  --hover: #c3a7eb;
  --background: #f7f7f7;
  --text-color: #5f6f81;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  margin-top: 100px;
  margin: 0 auto;
}

.logo {
  max-height: 150px;
  list-style: none;
}

footer {
  background: #ece3f9;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
}

footer .social-media-links {
  margin: 20px auto 15px;
  font-size: 40px;
}

footer .social-media-links a:hover {
  color: var(--hover);
}

footer p {
  font-size: 15px;
}

footer a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 150ms ease-in-out;
  font-weight: bolder;
}

footer a:hover {
  color: var(--hover);
}

h1 {
  font-family: "Spectral", serif;
  font-size: 50px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h3 {
  font-family: "Spectral", serif;
  font-size: 25px;
}

span {
  color: var(--primary-color);
  font-weight: bold;
}

.work-heading {
  background-color: #ece3f9;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
}

.contact-link {
  background-color: var(--primary-color);
  border: 1px solid;
  padding: 15px 35px;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #f7f7f7;
  text-decoration: none;
}

.contact-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.experience{
  margin-left: 10%;
  margin-right: 10%;
}


@media (max-width: 960px) {
  body {
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 25px;
  }

  nav a {
    font-size: 17px;
  }

  nav li {
    margin-left: 10px;
    margin-right: 2.4px;
  }

  nav ul {
    margin-top: -10px;
  }

  footer .social-media-links {
    font-size: 35px;
  }
  footer p {
    font-size: 12px;
    margin-top: -15px;
  }
}
